h1, h2, h3, p, ul, li {
    font-family: 'Inter', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

div {
    display: block;
}

.cvphoto {
    border-radius: 50%;
    border: 1px solid white;
    display: inline;
    width: 100px;
}

div.intro-row1 {
    width: 80%;
    border: 2px solid black;
}