/*-----Global Styles-----*/
body {
    text-align: center;
}

h1, h2, h3, p, ul, li {
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
}

ul.nav {
    display: block;
    padding: 0;
}

li {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    border-top: 1px solid #F5E8E4;
    padding: 20px;
}

/*------------Nav---------*/
a {
    color: black;
    text-decoration: none;
}

a.active {
    border: 1px solid #D1512D;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color:#D1512D;
}

div.nav {
    border-bottom: 1px solid #F5E8E4;
    padding-bottom: 10px;
}


/*-----Index-------*/
div.introduction {
    padding: 60px;
    margin-left:auto;
    margin-right: auto;
    max-width: 400px;
}

h3.intro {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
}


p.intro {
    text-align: justify;
}

.cvphoto {
    border-radius: 50%;
    border: 1px solid white;
    display: inline;
    width: 200px;
    filter: saturate(110%) brightness(108%);
}